<% if params[:user] == '1'%>
  <!DOCTYPE html>
  <html>
    <head>
      <title>Quizapp</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
    </head>

    <body>
      <a href="/">home</a>
      <a href="/questions/random">random</a>
      <%= yield %>
    </body>
  </html>
<%else%>

  <%= yield %>

<%end%>
